<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partial/head %>

    <title>SAMS </title>

  </head>

  <style media="screen">
    #tb{
      color: black;
      border: 1px,solid,red;
      background-color:#ccf2ff;
      border-radius: 15px;
      width: 1025px;
      height: 450px;
      padding-left: 50px;
      padding-top: 50px;
      margin-left: 10px;
      margin-top: 20px;
      padding-left: 350px;
    }
    h1{
      color: black;
      margin-top: 10px;
    }
  </style>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><i class="fa fa-bell-o"></i> <span>SAM System</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <% include ../partial/menu_profile %>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <% include ../partial/sidebar %>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <% include ../partial/menu_footer %>
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <% include ../partial/top_nav %>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <!-- <div class=""> -->

            <div class="col-md-18 col-sm-18 col-xs-36 profile_details">
            <!-- <div class="well profile_view"> -->
              <div class="col-sm-12">
                <div class="left col-xs-7" id="tb">
                    <h1>Timetable View</h1>
                    <br>
                  <form action="/schedule/remove" name="frm" method="post">
                      <h2><input type="hidden" name="id" value="<%=timetable.tb_id%>"</h2>
                      <h4><i class="fa fa-institution"></i> &nbsp&nbsp Department: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span id="dept"><%= timetable.dept_id %></span> </h4>
                      <h4><i class="fa fa-user"></i> &nbsp&nbsp Teacher Name:&nbsp&nbsp&nbsp&nbsp <%= timetable.name %></h4>
                      <h4><i class="fa fa-book"></i>  &nbsp&nbsp Subject:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <%= timetable.subj_name %></h4>
                      <h4><i class="fa fa-columns"></i>  &nbsp&nbsp Class:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <%= timetable.class %></h4>
                      <h4><i class="fa fa-dashboard"></i>  &nbsp&nbsp Time: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span id="time"><%= timetable.time %></span></h4>
                      <h4><i class="fa fa-calendar-o"></i>  &nbsp&nbsp Date: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span id="date"><%= timetable.date_id %></span></h4>
                      <h4><i class="fa fa-calendar"></i>  &nbsp&nbsp Updated: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= timetable.updated %></h4>
                      <br>
                      <a href="/schedule/timetablelist"><strong><button type="button" class="btn btn-primary">Go to list</button></strong></a>
                      &nbsp&nbsp&nbsp&nbsp&nbsp<a href="/schedule/timetablemodify/<%=timetable.tb_id%>"><strong><button type="button" class="btn btn-warning">Modify</button></strong></a>
                      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="javascript:del()"><strong><button type="button" class="btn btn-danger">Delete</button></strong></a>
                  </form>
              </div>
              </div>
            </div>
            <!-- </div> -->
          <!-- </div> -->
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <% include  ../partial/footer %>
        <!-- /footer content -->
        <% include ../partial/script %>
      </div>
    </div>
  </body>
  <script type="text/javascript">
  console.log('<%=timetable.tb_id%>');
    function del(){
      if(confirm('Are you sure?')){
        frm.submit();
      }
    }
    // if(messages){
    //   console.log('info work');
    //   alert(messages.info);
    // }
    console.log($('#dept').html());
    switch ('<%=timetable.dept_id%>') {
        case '1':
          $('#dept').html('IT');
        break;
        case '2':
          $('#dept').html('Civil');
        break;
        case '3':
          $('#dept').html('EC');
        break;
        case '4':
          $('#dept').html('EP');
        break;
        case '5':
          $('#dept').html('MP');
        break;
        case '6':
          $('#dept').html('MC');
        break;
        case '7':
          $('#dept').html('English');
        break;
        case '8':
          $('#dept').html('Mathematics');
        break;
        case '9':
          $('#dept').html('Physics');
        break;
        case '10':
          $('#dept').html('Chemistry');
        break;
        case '11':
          $('#dept').html('Myanmar');
        break;
      default:
       $('#dept').html('Not selected data!');
    }

    console.log($('#date').html());
    switch ('<%=timetable.date_id%>') {
        case '1':
          $('#date').html('Monday');
        break;
        case '2':
          $('#date').html('Tuesday');
        break;
        case '3':
          $('#date').html('Wednesday');
        break;
        case '4':
          $('#date').html('Thursday');
        break;
        case '5':
          $('#date').html('Friday');
        break;
        default:
         $('#date').html('Not selected date!');
       }

       switch ('<%=timetable.time%>') {
           case '1':
             $('#time').html('8:30AM-9:30AM');
           break;
           case '2':
             $('#time').html('9:35AM-10:35AM');
           break;
           case '3':
             $('#time').html('10:40AM-11:40AM');
           break;
           case '4':
             $('#time').html('12:40PM-1:40PM');
           break;
           case '5':
             $('#time').html('1:45PM-2:45PM');
           break;
           case '6':
             $('#time').html('2:50PM-3:50PM');
           break;
           default:
            $('#time').html('Not selected time!');
          }
  </script>
</html>
